<div class="bg-dark col-12 py-3 d-flex justify-content-between">
  <div class="text-white">
    <a href="" class="text-white mx-4">Home</a>
    <a href="" class="text-white">Questionnaire</a>
  </div>
  <div class="text-white">
    <a href="auth/signUp" class="text-white me-4">Sign Up</a>
    <a href="auth/login" class="text-white me-4">Sign In</a>
    <a href="auth/profile" class="text-white me-5">Profile</a>
  </div>
</div>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
